


@media screen and (max-width: 480px) {

    /* LESSONS SECTION */

    .lessons .row {
        flex-wrap: wrap;
        row-gap: 4rem;
    }

    .lessons .col {
        flex-basis: 100%;
    }
        
    /* STEPS SECTION */

    .steps .row {
        flex-wrap: wrap;
        row-gap: 4rem;
    }  

    .steps .col {
        flex-basis: 100%;
    }


    /* WHY US SECTION */
     
    .why-us .row {
        flex-wrap: wrap;
        row-gap: 4rem;
    } 

    .why-us .row :first-child {
        width: 100%;
    }

    .why-us .row :last-child {
        width: 100%;
    }




}
